# cabal
**/dist-newstyle

# cargo
**/target

# dotnet
**/dotnet/**/bin
**/obj
**/.artifacts

# gradle
**/build
**/.gradle
**/.kotlin

# stack
**/.stack-work

# swift
**/.build

# vscode
**/launch.json

**/dist
